*{
    margin :0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Figtree' , sans-serif;
}
.container{
    background-color: hsl(47, 88%, 63%);
    height:100vh;
    max-width: 1440px;
    min-width: 375px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card{
    background-color:hsl(0, 0%, 100%) ;
    max-width : 320px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 10px 10px 0px black;
}
.image-cont{
    max-width: 320px;
    padding: 15px;
    object-fit: cover;
}
.main-img{
    width: 100%;
    border-radius: 10px;
}
.highlighted{
    background-color:hsl(47, 88%, 63%) ;
    display:flex;
    margin-left: 15px;
    width: 80px;
    color: hsl(0, 0%, 7%);
    border-radius: 4px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.info{
    margin-left: 15px;
    margin-top: 10px;
    font-weight: 500;
}

.heading{
    padding: 20px 15px;
    font-size: 22px;
    color: hsl(0, 0%, 7%);
}
.para{
    font-size: 14px;
    margin-left: 15px;
    margin-right: 10px;
    font-weight: 500;
    line-height: 1.5;
    color: hsl(0, 0%, 42%);
}
.author-info{
    display: flex;
    margin-left: 15px;
    max-width: 200px;
    gap: 10px;
    padding: 10px 0px ;
    align-items: center;
}
.img2-cont{
    max-width: 25px;
    object-fit: cover;
}
.auth-img{
    max-width: 25px;
    width: 100%;
}
.name{
    color: hsl(0, 0%, 7%);
    font-size: 14px;
    font-weight: 800;
}

.attribution{
    margin-left: 15px;
    padding-bottom: 15px;
    font-weight: 500;
    font-size: 15px;
    color: hsl(0, 0%, 42%);
}

.tag{
    text-decoration: none;
}